[submodule "Titans-quantized"]
	path = Titans-quantized
	url = git@github.com:KastanDay/Titans-quantized.git
	branch = main
[submodule "ColossalAI-quantized"]
	path = ColossalAI-quantized
	url = git@github.com:KastanDay/ColossalAI-quantized.git
	branch = main
